body {
  background-color: #54688c;
}
h1 {
  text-align: center;
  font-size: 30px;
}
.menu{
  background-color: #676d68;
  color: white;
  width: 20rem;
  padding-right: 0px;
  padding: 2px;
  margin-left: -47px;
}
.menu:hover {
  background-color: #478419;
  color: #343835;
}

ul{
  list-style-type: none;
}
#item{
  background-color: #E5E5E5;
  margin-left: -2.5em;
  color: #878686;
}
.bubble {
  border-radius: 8px;
  background-color: #373a38;
  padding-left: 7px;
  padding-right: 7px;
  float: right;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
  color: white;
}
.bubble:hover {
  color: white;
  background-color: #2a3a2e;
}
.bubble2{
  border: 1px solid #aaafab;
  border-radius:15px;
  background-color: #E5E5E5;
  padding-left: 7px;
  padding-right: 7px;
  float: right;
  font-size: 13px;
}
i {
  padding: 5px;
}
